/* AI_Imager_CSS.css */

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: linear-gradient(to right, #4c5c68 0%, #a7d5c4 100%);
    */
    background: linear-gradient(to left, #3f5efb, #fc466b);
    /*background-image: url('https://i.imgur.com/mpiwhbx.png');
    background-size: unset;
    background-repeat: repeat;*/
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    padding: 5px 10px;
}

nav ul li a:hover,
nav ul li a.active {
    color: #a8cfee;
    background-color: #6561dc;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: #4826c1;
    text-shadow: 2px 2px #1a202c;
}

.hero p {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%, #095fab);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5.5s linear infinite;
    display: inline-block;
}

@keyframes textclip {
	to {
		background-position: -200% center;
	}
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #a1cdf1;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #4f8fd6;
}

.features {
    padding: 80px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.feature {
    max-width: 300px;
    margin: 0 20px;
    text-align: center;
    margin-bottom: 40px;
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    border-radius: 8px;
    padding: 20px;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #3d4852;
}

.feature p {
    font-size: 16px;
    color: #718096;
}

.testimonial {
    background-color: #f9f9f9;
    padding: 80px 20px
}

.testimonial blockquote {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3d4852;
    font-style: italic;
}

.testimonial cite {
    font-style: italic;
    color: #a0aec0;
}

.container {
    max-width: 900px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px -10px;
    margin-bottom: 80px;
}

header {
    background-color: rgba(0,0,0, 0.6);
    color: #fff;
    padding: 15px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

main {
    padding: 20px;
    text-align: center;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 40px;
    text-align: center;
}

/* Custom Text Input Box Styling */
input[type="text"] {
    padding: 10px;
    border: 2px solid #4c5c68;
    border-radius: 8px;
    font-size: 16px;
    color: #3d4852;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}
  
/* Text Input Box Hover Styling */
input[type="text"]:hover {
    border-color: #718096;
}
  
/* Text Input Box Focus Styling */
input[type="text"]:focus {
    outline: none;
    border-color: #718096;
    box-shadow: 0 0 5px rgba(113, 128, 150, 0.5);
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
}

#text-input {
    flex: 1;
    margin-right: 10px;
}

#submit-button {
    background-color: #4c5c68;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #4c5c68;
    transition: transform .2s ease-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    flex: none;
}

#submit-button:hover {
    transform: scale(1.2);
    border: 2px solid #718096;
}

.error-message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    display: none;
    z-index: 9999;
}
  
.error-message p {
    margin: 0;
}
  
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
  
.close-button:hover {
    color: #fdd;
}
  

h1, h2 {
    color: #3d4852;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #718096;
    color: #fff;
    padding: 40px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}