/* AI_Imager_CSS.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    background: linear-gradient(to right, #79e4b9 0%, #fff 20%, #fff 80%, #79e4b9 100%)
    
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #79e4b9;
    color: #fff;
    padding: 15px;
    width: 100%;
}

main {
    padding: 20px;
    text-align: center;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 20px;
    text-align: center;
}

#submit-button {
    background-color: blue;
    color: white;
}

h1, h2 {
    color: #333;
    text-align: center;
}

/* Image Preview */
#image-preview {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* AI Processing */
#process-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 10px;
}

